<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.meetups.kuxu.setting">

	<application>
		<activity
				android:name=".SettingsActivity"
				android:label="@string/title_activity_settings"
				android:theme="@style/AppTheme">
		</activity>
	</application>

</manifest>